# =========================
#  DATOS Y ASSETS
# =========================
data/
drafts/
Bosquejos/
images/
*.png
*.jpg
*.jpeg
*.gif
*.svg

# =========================
#  APP COMPILADA
# =========================
dist/
build/
*.exe
*.spec

# =========================
#  ARCHIVOS TEMPORALES
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store

# =========================
#  ENTORNOS LOCALES
# =========================
.env
.venv/
venv/
