# ========================
# Python
# ========================
__pycache__/
*.py[cod]

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/
.jupyter/

# ========================
# macOS
# ========================
.DS_Store

# ========================
# Windows
# ========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ========================
# Office temp files
# ========================
~$*.xlsx
~$*.xls

# ========================
# Images
# ========================
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif
